:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.modal {
  padding: 3rem; /* Uniform padding */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 540px; /* Increased size */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  z-index: 1;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profile-picture {
  position: relative;
  width: 250px; /* Adjust to match desired size */
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 5%; /* Adjust for placement */
  right: 5%;  /* Adjust for placement */
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 32px; /* Button size */
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure it overlays the profile picture */
}

.edit-icon i {
  font-size: 16px; /* Pencil icon size */
  color: #000;
}

form input {
  width: 100%;
  padding: 0.8rem;  
  margin: 0.5rem 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button a {
  color: inherit;
  text-decoration: none;
}
